<h1>Log In</h1>
<form action="/auth/login" method="post">
    <label>Email adress:<input type="email" name="email" required></label>
    <label>Username:<input type="text" name="username" required></label>
    <label>Password:<input type="password" name="password" required></label>
    <button type="submit">Register for free!</button>
</form>

