<div class="authDiv">
    <div class="auth-details">
        <h1 class="title-page-register">Log In</h1>

        <form action="/auth/login" method="post">
            <div class="form-input">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" name="email" value="<% if (typeof errorMessage !== 'undefined') {%><%= data.email %><% } %>" required>
            </div>

            <div class="form-input">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" name="password" required>
            </div>
            
            <button type="submit" class="submit-button">Log In</button>
        </form>

        <% if (typeof errorMessage !== 'undefined') { %>
            <p class="auth-error"><%- errorMessage %></p>
            <% if (errorMessage === 'This email is not registered. Please go to the Register page') { %>
            <a class="auth-error-button" href="/auth/register">Register</a>
            <% } %>
        <% } %>
    </div>
</div>
