<% if (!isLogged) { %>
    <header></header>
    <h1>Welcome to EduParents</h1>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing</p>
<% } %>

<section id="artByAge">
    
    <div class="articlesHomepage">
        <div class="home-container">
            <a href="/articles/Pregnancy">
                <h3>Pregnancy</h3>
                <img src="https://media.istockphoto.com/id/1323431279/photo/healthy-pregnancy-side-view-pregnant-woman-with-big-belly-advanced-pregnancy-in-hands-banner.jpg?s=612x612&w=0&k=20&c=UICNLtwzuyll_Pkux3WiNDik0w_g0625zjLDBJyn-Qo=" alt="pregnancy image">
            </a>
        </div>
        
        <div class="home-container">
            <a href="/articles/Birth-1Month">
                <h3>Birth - 1Month</h3>
                <img src="https://www.baby-chick.com/wp-content/uploads/2020/07/Newborn-baby-securely-grasping-his-mothers-hands-close-up-fingers.-1154626826_2123x1417-scaled-1.jpeg" alt="Birth-1Month image">
            </a>
        </div>
    
        <div class="home-container">
            <a href="/articles/2-6Months">
                <h3>2 - 6Months</h3>
                <img src="https://parentingscience.com/wp-content/uploads/motor-milestones-rolling-by-Gwill-shutterstock_1356123389-min.jpg" alt="2-6Months image">
            </a>
        </div>
    
        <div class="home-container">
            <a href="/articles/7-12Months">
                <h3>7 - 12Months</h3>
                <img src="https://www.babycentre.co.uk/ims/2018/02/iStock-182887172_wide.jpg" alt="7-12Months image">
            </a>
            
        </div>

        <div class="home-container">
            <a href="/articles/13-18Months">
                <h3>13 - 18Months</h3>
                <img src="https://image1.masterfile.com/getImage/NzAwLTAzMjk0ODg2ZW4uMDAwMDAwMDA=AB7s-u/700-03294886en_Masterfile.jpg" alt="13-18Months image">
            </a>
            
        </div>

        <div class="home-container">
            <a href="/articles/19-24Months">
                <h3>19 - 24Months</h3>
                <img src="https://i0.wp.com/lovevery-blog.com/wp-content/uploads/2020/05/Weekly_Week-87-Body-1.jpg?resize=1176%2C915&ssl=1" alt="19-24Months image">
            </a>
            
        </div>
    </div>
</section>


