<% if (!isLogged) { %>
    <header></header>
    <div class="welcome-text">
        <h1>Welcome to <span class="logoLetter" style="color: #721D27;">edu</span><span class="logoLetter" style="color: #7CAC9F;">Parents</span></h1>
        <p>At Eduparents, we believe that parents play a crucial role in their children's education. That's why we've created a community where parents can learn, grow, and educate together. Our mission is to empower parents with the knowledge and tools they need to support their children's academic, social, and emotional development. We offer a range of informative resources, practical tools, and personalized guidance to help parents navigate the challenges of raising a successful and happy student. <span style="color: #721D27;font-weight: bold;">Join our community today and let's learn, grow, and educate together!</span> </p>
    </div>
    
<% } %>

<section id="home-container">
    <div class="articlesHomepage">
        <div class="home-container">
            <a href="/articles/Pregnancy">
                <h3>Pregnancy</h3>
                <img src="https://res.cloudinary.com/dgbg06crz/image/upload/v1683193317/lonvmqzqipgqo1qtltr6.jpg" alt="pregnancy image">
            </a>
        </div>
        
        <div class="home-container">
            <a href="/articles/Birth-1Month">
                <h3>Birth - 1Month</h3>
                <img src="https://res.cloudinary.com/dgbg06crz/image/upload/v1683196201/g3qpfodsvgk8r9xccvdg.jpg" alt="Birth-1Month image">
            </a>
        </div>
    
        <div class="home-container">
            <a href="/articles/2-6Months">
                <h3>2 - 6Months</h3>
                <img src="https://res.cloudinary.com/dgbg06crz/image/upload/v1683197872/lmjmbs47fcqgantxso1d.jpg" alt="2-6Months image">
            </a>
        </div>
    
        <div class="home-container">
            <a href="/articles/7-12Months">
                <h3>7 - 12Months</h3>
                <img src="https://res.cloudinary.com/dgbg06crz/image/upload/v1683198200/ebocxtaz425xlv5okmcy.jpg" alt="7-12Months image">
            </a>
            
        </div>

        <div class="home-container">
            <a href="/articles/13-18Months">
                <h3>13 - 18Months</h3>
                <img src="https://res.cloudinary.com/dgbg06crz/image/upload/v1683197900/yeq2yiswdadxgbxnpnf5.jpg" alt="13-18Months image">
            </a>
            
        </div>

        <div class="home-container">
            <a href="/articles/19-24Months">
                <h3>18 - 24Months</h3>
                <img src="https://res.cloudinary.com/dgbg06crz/image/upload/v1683198484/f5icxfbb4f115fvdveyq.jpg" alt="19-24Months image">
            </a>
            
        </div>
    </div>
</section>


