<header></header>
<section id="artByAge">
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing</p>
    <div class="articlesHomepage">
        <div class="home-container">
            <a href="/articles">
                <h3>Pregnancy</h3>
                <img src="https://media.istockphoto.com/id/1323431279/photo/healthy-pregnancy-side-view-pregnant-woman-with-big-belly-advanced-pregnancy-in-hands-banner.jpg?s=612x612&w=0&k=20&c=UICNLtwzuyll_Pkux3WiNDik0w_g0625zjLDBJyn-Qo=" alt="">
            </a>
        </div>
        
        <div class="home-container">
            <a href="/articles">
                <h3>range1</h3>
                <img src="https://www.baby-chick.com/wp-content/uploads/2020/07/Newborn-baby-securely-grasping-his-mothers-hands-close-up-fingers.-1154626826_2123x1417-scaled-1.jpeg" alt="">
            </a>
        </div>
    
        <div class="home-container">
            <a href="/articles">
                <h3>range2</h3>
                <img src="https://media.istockphoto.com/id/1323431279/photo/healthy-pregnancy-side-view-pregnant-woman-with-big-belly-advanced-pregnancy-in-hands-banner.jpg?s=612x612&w=0&k=20&c=UICNLtwzuyll_Pkux3WiNDik0w_g0625zjLDBJyn-Qo=" alt="">
            </a>
        </div>
    
        <div class="home-container">
            <a href="/articles">
                <h3>range3</h3>
                <img src="https://media.istockphoto.com/id/1323431279/photo/healthy-pregnancy-side-view-pregnant-woman-with-big-belly-advanced-pregnancy-in-hands-banner.jpg?s=612x612&w=0&k=20&c=UICNLtwzuyll_Pkux3WiNDik0w_g0625zjLDBJyn-Qo=" alt="">
            </a>
            
        </div>

        <div class="home-container">
            <a href="/articles">
                <h3>range4</h3>
                <img src="https://media.istockphoto.com/id/1323431279/photo/healthy-pregnancy-side-view-pregnant-woman-with-big-belly-advanced-pregnancy-in-hands-banner.jpg?s=612x612&w=0&k=20&c=UICNLtwzuyll_Pkux3WiNDik0w_g0625zjLDBJyn-Qo=" alt="">
            </a>
            
        </div>

        <div class="home-container">
            <a href="/articles">
                <h3>range5</h3>
                <img src="https://media.istockphoto.com/id/1323431279/photo/healthy-pregnancy-side-view-pregnant-woman-with-big-belly-advanced-pregnancy-in-hands-banner.jpg?s=612x612&w=0&k=20&c=UICNLtwzuyll_Pkux3WiNDik0w_g0625zjLDBJyn-Qo=" alt="">
            </a>
            
        </div>
    </div>
    

</section>
