<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EduParents</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav>
    <div class="homepage-nav">
        <img src="/images/logo.png" alt="">
    </div>
    <div class="credentials-nav">
      <a href="/">Home Page</a>
      <a href="/auth/login">Log In</a>
      <a href="/auth/register">Register</a>
      <!-- If statement for logged in -->
    </div>
    <section>
      <% if (isLogged) { %>
       <p>hello</p>
      <% } else { %>
        <p>bye</p>
        <% } %>
    </section>
   

  </nav>

  <body>
    <%- body %>
    <script src="/js/script.js"></script>
  </body>
</html>
