<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EduParents</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  
  <nav>
    <div class="logo-nav">
      <a href="/">
        <img src="/images/logo.png" alt="">
      </a>
    </div>

    <div class="pink-buttons-div">
      <a href="/">Home Page</a>
      <!-- If statement for logged in -->
      <% if (!!isLogged) { %>
        <a href="/profile">Profile</a>
        <a href="/logout">Log Out</a>
       <% } else { %>
        <a href="/auth/login">Log In</a>
        <a href="/auth/register">Register</a>
         <% } %>
    </div>
  </nav>

  <body>
    <%- body %>
    <script src="/js/script.js"></script>
   
  </body>
</html>
