<section>
    <div class="profile">
        <div class="profilePic">
            <img src="/images/profilePic.jpg" alt="">
        </div>

        <div class="profileInfo">
            <h1>Welcome back <%= existingUser.existingUser %></h1>
        <a href="/logout">Log Out</a>
        </div>
    </div>
    <div></div>
</section>
<section>
    <a href="/articles/create">Create your post</a>
</section>
