<h1><%= data[0].ageRange %> Articles</h1>
<div class="articlesHomepage">
    <% data.forEach((article) => { %>
      <div class="home-container">
        <h4><%= article.title %></h4>
        <a href=<%- `/articles/${article.ageRange}/${article.id}` %>>Details</a>
      </div>    
    <% }) %>
  </div>
  