<div class="title-div">
  <h1 class="title-page">
  <%= data[0].ageRange %> Articles
</h1>
</div>


<div class="articlesHomepage">
    <% data.forEach((article) => { %>
      <div class="home-container">
        <h3><%= article.title %></h3>
        <a href=<%- `/articles/${article.ageRange}/${article.id}` %>>
          <img src="<%= article.imageUrl %>" alt="">
      </a>
      </div>    
    <% }) %>
  </div>
  