<div class="title-div">
  <% if (data.length > 0) { %>
    <h1 class="title-page">
      <%= data[0].ageRange %> Articles
    </h1>
  <% } else { %>
    <h1 class="title-page">
      No articles available for this age range.
    </h1>
  <% } %>
</div>



<div class="articlesHomepage">
    <% data.forEach((article) => { %>
      <div class="home-container">
        <h3><%= article.title %></h3>
        <a href=<%- `/articles/${article.ageRange}/${article.id}` %>>
          <img src="<%= article.imageUrl %>" alt="">
      </a>
      </div>    
    <% }) %>
  </div>
  