<h1>One article</h1>
<%= title  %>
<br>
<br>
<%= content  %>
<br>
<a href="/articles/edit-article/<%=_id %>">Update Article</a>
<p>Created by: <%= createdBy.username %></p>

<!-- <a href="/articles/edit-article/<%// -articleToEdit._id%>">Update article</a> -->
