@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/idealist-sans');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 5rem;
}

body > *{
  padding: 0 5vw;
  text-decoration: none;
}

h1, h2{
  margin: 0;
}

nav{
  display: flex;
  align-items: center;
  height: 4.5rem;
  justify-content: space-between;
  margin-top: 1rem;
}

img{
  max-width: 90vw;
}


.homepage-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #D9A679; */
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
  font-weight: bold;
}

.homepage-nav img{
  padding-top: 0.5rem;
  height: 4rem;
  margin-left: 0.5rem;
}

header{
  height: 70vh;
  background-image: url('../images/cover2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.logoLetter{
  font-family: 'Idealist Sans', sans-serif;
}

.welcome-text{
  color: grey;
  text-align: center;
  margin: 2rem 0;
}


.credentials-nav a{
  background-color: rgb(197, 148, 167);
  margin: 0 0.3rem;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

#artByAge{
  padding-top: 2%;
  text-align: center;
}

.articlesHomepage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.333333fr));
  gap: 2rem;
  align-items: center;
}

.add-container{
  text-align: center;
}

.add-container a{
  display: flex;
  justify-content: center;
}

.add-container img{
  width: 40%;
  text-align: center;
  justify-self: center;
}


.home-container img{
  width: 100%;
  height: 82.5%;
  object-fit: cover;
  border-radius: 2rem;
}

.home-container {
  background-color: lightgrey;
  border-radius: 2rem;
  text-align: center;
  padding-bottom: 0.3rem;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  height: 20rem;
}

a {
text-decoration: none;
}

h3{
  color: white;
}

.authDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.auth-details{
  margin-top: 2rem;
  width: 50vw;
  padding: 3rem;
  border: solid 1px lightgray;
  border-radius: 2rem;
}

.auth-error{
  color: rgb(173, 105, 131);
  font-weight: bold;
}

.auth-error-button{
  background-color: rgb(197, 148, 167);
  margin: 0 0.3rem;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.profile{
  margin-top: 2rem;
  background-color: lightgray;
  display: flex;
  height: 15rem;
  align-items: center;
}

.profilePic {
  height: 14rem;
  width: 14rem;
  padding: 5%;

}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.profileInfo a{
  color: white;
  background-color: rgb(197, 148, 167);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.profile-section{
  margin: 2rem 0 1rem 0;
  color: black;
}

.profile-container-function{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profile-container-function a{
  background-color: rgb(167, 167, 167);
  padding: 0.2rem;
  color: white;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
}

.isOwner{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.isOwner a{
  margin: 0.3rem 0;
}

.oneArticle{
  display: flex;
  flex-direction: row;
}

.oneArticle aside{
  margin-top: 5%;
  border-left: solid 1px lightgray;
  width: 25vw;
  padding: 0 2rem;
}

.articleDetails{
  margin-right: 5%;
  width: 75vw;
}

.articleDetails .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.articleDetails img{
  width: 100%;
}

.form-input{
  margin: 1rem 0;
}

.form-control{
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 1.5rem;
  border: solid 1px lightgray;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.create-content{
  height: 20rem;
}

.submit-button{
  color: white;
  background-color: rgb(197, 148, 167);
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
}






