@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body > *{
  padding: 0 2vw;
  text-decoration: none;
}

h1, h2{
  margin: 0;
}

nav{
  display: flex;
  align-items: center;
  background-color: #733238;
  height: 3rem;
  justify-content: space-between;
}

.credentials-nav a{
  padding: 0.3rem;
  background-color: #D9A679;
  border-radius: 0.5rem;
  color: #733238;
  text-decoration: none;
}

.credentials-nav a:last-child {
  margin-left: 1rem;
}


.homepage-nav{
  display: flex;
  align-items: center;
  /* background-color: #D9A679; */
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
  color: #D9A679;
  font-weight: bold;
}

.homepage-nav img{
  height: 1.5rem;
  margin-left: 0.5rem;
}

header{
  height: 50vh;
  background-image: url('../images/cover.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
}

#artByAge{
  padding-top: 2%;

  text-align: center;
}

.articlesHomepage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-container img{
  max-width: 95%;
  border-radius: 2rem;
}

.home-container{
  background-color: #D9A679;
  width: 25rem;
  margin-top: 2rem;
  text-align: center;
  border-radius: 2rem;
  padding-bottom: 0.3rem;
}

a {
text-decoration: none;
}

h3{
  color: white;
}

.profile{
  margin-top: 2rem;
  background-color: #D9A679;
  display: flex;
  border-radius: 2rem;
  height: 15rem;
}

.profilePic{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #D96907;
  border-radius: 2rem;
}

.profilePic img{
  max-width: 90%;
  max-height: 90%;
  border-radius: 2rem;
}





